body {
    background: linear-gradient(
        90deg,
        #0f123b 14.25%,
        #090d2e 56.45%,
        #020515 100%
    );
    background-image: url(../images/bg-image.jpeg);
    background-position: center bottom;
    backdrop-filter: blur(136px);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $ff-primary;
    min-height: 100vh;
}

@media screen and (min-width: $bp-xxl) {
    body {
        overflow: hidden;
    }
    .dashboard {
        overflow-y: auto;
    }
}
