@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

$ff-primary: "Plus Jakarta Sans", sans-serif;

h1 {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2.52px;
    background: linear-gradient(
        98deg,
        #fff 70.67%,
        rgba(117, 122, 140, 0) 108.55%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    color: $col-white;
}

.btn {
    &--1 {
        color: $col-white;
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        padding: 10px 12px;
        flex-shrink: 0;
        border-radius: 12px;
        background: linear-gradient(
            127deg,
            rgba(6, 11, 40, 0.74) 28.26%,
            rgba(10, 14, 35, 0.71) 91.2%
        );
        backdrop-filter: blur(5px);
    }
    &--2 {
        color: $col-white;
        font-size: 12px;
        text-align: left;
        padding: 0px;
        svg {
            margin-left: 4px;
        }
        &:hover {
            color: $col-white;
        }
    }
    &--3 {
        background: $col-icon-box;
        color: $col-white;
        font-size: 10px;
        font-weight: 700;
        border-radius: 12px;
        text-transform: uppercase;
        padding: 10px 22px;
        &:hover {
            background: $col-icon-box;
        }
    }
    &--4 {
        border-radius: 12px;
        border: 1px solid #fff;
        color: $col-white;
        font-size: 10px;
        font-weight: 700;
        padding: 10px 30px;
        &:hover {
            border: 1px solid #fff;
            color: $col-white;
        }
    }
}

.c {
    &--gray {
        color: #a0aec0 !important;
    }
    &--red {
        color: #f53c2b !important;
    }
    &--green {
        color: #01b574 !important;
    }
    &--white {
        color: $col-white;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.status {
    color: $col-white !important;
    font-weight: 600;
    max-width: 70px;
    padding: 3px 11px;
    text-align: center;
    border-radius: 8px;
    &.online {
        background: #01b574;
    }
    &.offline {
        background: transparent;
        border: 1px solid $col-white;
    }
}
