// colors
$col-white: #ffffff;
$col-shade: #1a1f37;
$col-icon-box: #0075ff;
$col-gray: #a0aec0;
$col-green: #01b574;
$col-red: #e31a1a;

// breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
