.top-part-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
    padding: 0px 20px;
    a {
        text-decoration: none;
    }
    h4 {
        color: $col-white;
        font-size: 14px;
        margin-bottom: 0px;
    }
    svg,
    h3 {
        color: $col-gray;
    }
    h3 {
        font-size: 12px;
        margin-bottom: 0px;
    }
    form {
        position: relative;
        margin-right: 18px;
        min-width: 200px;
        button {
            border: 0px;
            background: transparent;
            position: absolute;
            top: 5px;
            left: 3px;
            svg {
                font-size: 20px;
                color: #2d3748;
            }
        }
        input {
            border-radius: 20px;
            border: 0.5px solid rgba(226, 232, 240, 0.3);
            background: #0f1535;
            color: #a0aec0;
            padding: 10px 10px 10px 37px;
            font-size: 12px;
            width: 100%;
            &::placeholder {
                color: #a0aec0;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .sign-in {
        display: flex;
        align-items: center;
        margin-right: 25px;
        svg {
            margin-right: 6px;
        }
    }
    .settings {
        margin-right: 17px;
    }
    .notifications,
    .settings,
    .sign-in {
        cursor: pointer;
    }
}
